/* CSS Reset */
* {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: initial;
  border-color: initial;
  border-image: initial; 
  font: inherit;
}

/* Base Styless */
html {
  color: rgb(0, 0, 0);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgb(230,236,240);
      text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 1.5;
  color: #292929;
}
body.overflow-page {
  overflow: hidden
}
head {
  display: none;
}
html {
  display: block;
  color: -internal-root-color;
}
h1, h2 {
  display: block;
  font-size: 1.5em;
  /* margin-block-start: 0.83em;
  */
  margin-block-end: 0px; 
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
strong {
  font-weight: bold;
}

/* App Wrapper */
.App {
  width: 100%;
  height: 100%;
}
/* Root Container */
#root {
  height: 100%;
  width: 100%;
}

a {
  font-family: 'Open Sans', sans-serif;
}

* {
  outline: 0;
}

.App {
  font-family: sans-serif;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
